<div class="revolutionary-container">
  <div class="revolutionary-editor">
    <h2 class="revolutionary-editor-title">Revolutionary editor</h2>
    <p class="revolutionary-editor-description">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </p>
    <div class="revolutionary-editor-btn">
      <button>
        <img src="@img/icon-eye.png" alt="" />
        <p>Watch</p>
        <span> 1,397 </span>
      </button>
      <button>
        <img src="@img/icon-star.png" alt="" />
        <p>Star</p>
        <span> 1,397 </span>
      </button>
      <button>
        <img src="@img/icon-branch.png" alt="" />
        <p>Fork</p>
        <span> 1,397 </span>
      </button>
    </div>
  </div>
</div>
