<section class="subscription">
  <h2 class="subscription-title">Fork Subscription Pricing</h2>
  <div class="subscription-rates">
    <div class="subscription-rates-item subscription-student">
      <h2 class="rate-name">Students</h2>
      <p class="rate-price">$29</p>
      <span class="rate-duration">per month</span>
      <svg
        width="60"
        height="5"
        viewBox="0 0 60 5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="60" height="5" fill="#8D81AC" />
      </svg>
      <p class="rate-description student-license">Personal License</p>
      <button class="rate-purchase">purchase</button>
    </div>
    <div class="subscription-rates-item">
      <h2 class="rate-name">professional</h2>
      <p class="rate-price">$59</p>
      <span class="rate-duration">per month</span>
      <svg
        width="60"
        height="5"
        viewBox="0 0 60 5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="60" height="5" fill="#8D81AC" />
      </svg>
      <p class="rate-description">Professional License<br />Email Support</p>
      <button class="rate-purchase">purchase</button>
    </div>
    <div class="subscription-rates-item item-large">
      <h2 class="rate-name">agency</h2>
      <p class="rate-price">$99</p>
      <span class="rate-duration">per month</span>
      <svg
        width="60"
        height="5"
        viewBox="0 0 60 5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="60" height="5" fill="#8D81AC" />
      </svg>
      <p class="rate-description">1-12 Team Members<br />Phone Support</p>
      <button class="rate-purchase">purchase</button>
    </div>
    <div class="subscription-rates-item">
      <h2 class="rate-name">enterprise</h2>
      <p class="rate-price">$159</p>
      <span class="rate-duration">per month</span>
      <svg
        width="60"
        height="5"
        viewBox="0 0 60 5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="60" height="5" fill="#8D81AC" />
      </svg>
      <p class="rate-description">
        Unlimited Team Members<br />24/ 7 Phone Support
      </p>
      <button class="rate-purchase">purchase</button>
    </div>
  </div>
</section>
