<div class="container">
  <section class="what-you-get">
    <div class="what-you-get-preference">
      <h3>Here is what you get</h3>
      <div class="preference-item">
        <img src="@img/what-you-get/item-1.png" alt="" />
        <div class="preference-item-text">
          <h2>Creatred to Make The Web Better</h2>
          <p>
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </div>

      <div class="preference-item">
        <img src="@img/what-you-get/item-2.png" alt="" />
        <div class="preference-item-text">
          <h2>Incredibly Powerful Tool</h2>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>

      <div class="preference-item">
        <img src="@img/what-you-get/item-3.svg" alt="" />
        <div class="preference-item-text">
          <h2>Experimental Stuff</h2>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>

      <div class="preference-item">
        <img src="@img/what-you-get/item-4.svg" alt="" />
        <div class="preference-item-text">
          <h2>Creatred to Make The Web Better</h2>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="what-you-get-screenshot">
      <h2>Here is what you get</h2>
      <img src="@img/what-you-get/what-you-get.png" alt="" />
    </div>
  </section>
</div>
