button {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1300px;
}

.header {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  position: relative;
  background-image: url(../img/header/headerBackground.png);
  background-position-x: center;
  background-size: cover;
  text-align: center;
  &__top-line {
    background-color: #27262a;
    padding: 40px 34px;
    display: flex;
    justify-content: space-between;
    // margin: 0 -24px;
  }
  &__logo {
    &:hover {
      color: #ffffff;
    }
    &:hover .logo__img--hover {
      display: block;
    }
  }
  .logo__wrapper {
    position: relative;
  }

  &__buy-button,
  &__download-button {
    min-width: 145px;
    border-radius: 40px;
    border: 2px solid $main-color;
    color: white;
    background-color: $main-color;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    text-transform: capitalize;
    // box-sizing: border-box;
    &:hover {
      // box-sizing: border-box;
      color: #8d81ac;
      background-color: white;
      border: 2px solid #8d81ac;
    }
  }

  &__menu {
    position: absolute;
    padding: 0;
    list-style: none;
    top: 124px;
    left: 10px;
    width: calc(100% - 20px);
    background: #333333;

    &--hidden {
      display: none;
    }

    &-item {
      text-align: left;
      padding: 25px 40px;
      border: 1px solid #3b3b3b;
      list-style-type: none;
      &:focus,
      &:active {
        & .header__menu-link {
          color: $main-color;
        }
        border-left: 8px solid $main-color;
      }
    }

    &-button {
      background: transparent;
      border: none;
      outline: none;
      margin-top: 12px;
    }
    &-button {
      position: relative;
      border: none;
      //   outline: none;
      width: 26px;
      height: 21px;
      &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 3px;
        background: white;
        border-radius: 5px;
        display: block;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      & span::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 3px;
        background: white;
        border-radius: 5px;
        display: block;
        left: 0;
        bottom: 0;
      }
      & span::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 3px;
        background: white;
        border-radius: 5px;
        display: block;
        right: 0;
        top: 0;
      }
    }
    & .menu-open {
      & span::before {
        background: transparent;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;

      &--hidden {
        display: none;
      }
    }

    &-link {
      font-size: 26px;
      text-decoration: none;
      color: white;
      text-transform: capitalize;
    }
  }
  .burger-btn-close {
    &::before {
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s;
      transform: rotate(-45deg);
    }
    span::after {
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s;
      transform: rotate(45deg);
    }
    span::before {
      display: none;
    }
  }

  &__title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 21px;
  }

  &__description {
    font-family: "lato", sans-serif;
    font-size: 18px;
    color: #8d81ac;
    line-height: 24px;
    padding-bottom: 20px;
  }

  &__version {
    font-size: 14px;
    color: #848e97;
    text-transform: uppercase;
    padding-bottom: 400px;
  }

  &__download-button {
    position: relative;
    top: 30px;
  }

  &__trial {
    font-size: 14px;
    color: #848e97;

    position: relative;
    top: 41px;
  }
}

.logo__title {
  display: none;
  font-size: 24px;
  font-weight: bold;
  color: $main-color;
  text-transform: uppercase;
  margin-left: 20px;
}

@media (min-width: 480px) {
  .header {
    &__logo:hover {
      .logo__title {
        color: white;
      }
    }
    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__top-line {
      padding: 20px 34px 60px 34px;
      align-items: center;
      flex-wrap: wrap;
    }

    &__menu {
      display: flex;
      order: 1;
      justify-content: space-between;
      position: relative;
      // top: -40px;
      background: none;
      // max-width: 500px;
      justify-content: center;
      gap: 48px;
      position: static;

      margin: 0 auto;

      &--hidden {
        // visibility: visible;
        display: flex;
      }
      &-button {
        display: none;
      }

      &-item {
        padding: 0;
        border: 0;

        &:focus,
        &:active {
          & .header__menu-link {
            color: $main-color;
          }
          border-left: none;
        }
      }

      &-link {
        font-size: 16px;
        font-weight: bold;
        color: $main-color;
        &:hover {
          color: white;
        }
      }
    }

    &__title {
      font-size: 72px;
    }

    &__description {
      font-size: 24px;
    }

    &__download-button {
      font-size: 21px;
      padding: 20px 60px 20px 60px;
      top: 45px;
    }

    &__trial {
      top: 55px;
    }
  }

  .logo__title {
    display: block;
    &:hover {
      color: white;
    }
  }
}

@media (min-width: 992px) {
  .header {
    &__top-line {
      // padding: 30px 90px;
      background: transparent;
    }

    &__logo {
      &:hover {
        & .logo__title {
          color: white;
        }
      }
    }

    &__menu {
      // cursor: pointer;
      // width: 40%;
      // top: -58px;
      // left: calc(50% / 2 - 180px);
      order: 0;

      margin-left: auto;
      margin-right: 48px;
      width: auto;
      position: static;
      &-item {
        &:hover {
          & .header__menu-link {
            color: white;
          }
        }
      }
    }

    &__title {
      font-size: 82px;
    }

    &__description {
      font-size: 30px;
    }

    &__buy-button,
    &__download-button {
      &:hover {
        background: white;
        color: #8d81ac;
        border: 2px solid $main-color;
      }
    }
  }
}
.logo__img--hover {
  position: absolute;
  right: 0px;
  top: 0;
  display: none;
}
