$font-Lato: "Lato", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$main-color: #8d81ac;

@mixin position-center{
    display: flex;
    justify-content: center; 
    align-items: center; 
   }