.revolutionary-container {
  @include position-center;
}
.revolutionary-editor {
  width: 820px;
  padding-top: 129px;
  padding-bottom: 70px;
  @include position-center;
  flex-direction: column;
  @media (max-width: 993px) {
    max-width: 690px;
    text-align: center;
    // padding-left: 30px;
    // padding-right: 30px;
  }
  @media (max-width: 480px) {
    max-width: 480px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
  }
  &-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: #635c73;
    margin-bottom: 35px;
    @media (max-width: 993px) {
      font-size: 42px;
      line-height: 42px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
      line-height: 26px;
    }
  }
  &-description {
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    text-align: center;
    margin-bottom: 13px;
  }
  &-btn {
    @include position-center;
    gap: 10px;
    @media (max-width: 480px) {
      max-width: 400px;
      flex-wrap: wrap;
      margin-top: 30px;
    }
    button {
      cursor: pointer;
      gap: 3px;
      height: 26px;
      @include position-center;
      padding-left: 6px;
      border: 1.5px solid gray;
      border-radius: 2px;
      img {
        height: 20px;
      }
      p {
        padding-right: 6px;
      }
      span {
        background-color: white;
        height: 100%;
        @include position-center;
        padding-right: 6px;
        &::before {
          content: "";
          height: 100%;
          border: 1px solid gray;
          margin-right: 6px;
        }
      }
    }
  }
}
