@import "reset";
@import "variables";
@import "mixin";
@import "_header.scss";
@import "_comments-section.scss";
@import "revolutionary-editor.scss";
@import "what-you-get.scss";
@import "subscription.scss";

body {
  font-family: "Montserrat";
  @media (max-width: 993px) {
    margin-right: 0;
  }
}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0;
    max-width: 1200px;
  }
}
