.subscription {
  background-image: url(../img/subcription-bg.png);
  background-size: cover;
  overflow: hidden;
  @include position-center;
  flex-direction: column;
  padding-bottom: 80px;
  &-title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
    margin-top: 83px;
    margin-bottom: 61px;
    @media (max-width: 993px) {
      font-size: 42px;
      line-height: 44px;
    }
    @media (max-width: 480px) {
      font-size: 28px;
      line-height: 42px;
    }
  }
  &-rates {
    overflow: hidden;
    @include position-center;
    gap: 15px;
    @media (max-width: 993px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      row-gap: 30px;
    }
    @media (max-width: 480px) {
      display: grid;
      grid-template-columns: 1fr;
    }
    &-item {
      box-sizing: border-box;
      width: 220px;
      height: 460px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.11);
      @media (max-width: 480px) {
        justify-self: center;
      }
      .rate-name {
        width: 100%;
        padding: 36px 0;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        background: rgba(255, 255, 255, 0.06);
      }
      .rate-price {
        margin-top: 15px;
        font-size: 60px;
        line-height: 90px;
        text-transform: uppercase;
        color: #ffffff;
      }
      .rate-duration {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 38px;
        margin-top: 5px;
      }
      .rate-description {
        margin-top: 36px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 36px;
        text-align: center;
      }
      .student-license {
        margin-bottom: 54px;
      }
      .rate-purchase {
        cursor: pointer;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 15px 37px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 30px;
      }
    }
    .item-large {
      background-color: rgba(70, 48, 72, 0.84);
      width: 263px;
      height: 560px;
      h2 {
        padding: 43px 0;
        background-color: rgba(0, 0, 0, 0.11);
      }
      .rate-price {
        font-size: 82px;
        font-weight: 700;
        margin-bottom: 16px;
      }
      .rate-duration {
        margin-bottom: 46px;
      }
      .rate-description {
        margin-top: 40px;
        margin-bottom: 78px;
      }
    }
  }
}
.subscription-student {
  @media (max-width: 993px) {
    justify-self: end;
  }
  @media (max-width: 480px) {
    justify-self: center;
  }
}
