.what-you-get-wrapper {
  background: #f4f4f4;
}
.what-you-get {
  padding-top: 100px;
  display: flex;
  @media (max-width: 993px) {
    flex-direction: column;
    padding-top: 60px;
  }

  &-preference {
    width: 50%;
    box-sizing: border-box;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    @media (max-width: 993px) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 50px;
      padding-left: 30px;
    }
    @media (max-width: 480px) {
      padding: 0 20px 0;
    }
    h3 {
      font-size: 42px;
      line-height: 44px;
      font-weight: 700;
      color: #8d81ac;
      margin-bottom: 18px;
      display: none;
      &::before {
        content: "<";
      }
      &::after {
        content: ">";
      }
      @media (max-width: 993px) {
        display: block;
        margin-bottom: 50px;
        text-align: center;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
  &-screenshot {
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 993px) {
      width: 100%;
      text-align: center;
    }
    h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      color: #8d81ac;
      margin-bottom: 18px;
      &::before {
        content: "<";
      }
      &::after {
        content: ">";
      }
      @media (max-width: 993px) {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 550px;
      @media (max-width: 993px) {
        padding-left: 40px;
      }
      @media (max-width: 480px) {
        padding: 0;
      }
    }
  }
}
.preference-item {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 30px;
  margin-bottom: 54px;
  @media (max-width: 993px) {
    gap: 30px;
    grid-template-columns: 15% 70%;
  }
  @media (max-width: 480px) {
    @include position-center;
    flex-direction: column;
    text-align: center;
  }
  &-text {
    h2 {
      font-size: 16px;
      line-height: 21px;
      color: #323232;
      margin-bottom: 14px;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      color: #848e97;
    }
  }
  img {
    margin-right: 23px;
    height: 64px;
  }
}
